body {
    direction: rtl;
    background-image: url('../images/Untitled-1.jpg');
    background-size: 1400px 680px;
    margin: 0 auto;
    background-repeat:no-repeat;
}

header{
    margin-top: 10px;
    margin-right: 90px;
    display: inline-block;
    position: absolute;
}
header h1{
    background-color: #c7e5b3;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    margin-right:10px;
    padding: 10px;
    border: 10px solid #f7f6e2;
    font-size: 20pt;
    text-align: center;
    color: #67331e;
  

}

header h1 a{
    text-decoration: none;
    color: #67331e;
}

header img{
    width:300px;
    height: 300px;
    display:block;
    margin-top: 30px;
    border: 10px solid #e5c5b8;

}

section {
    background-color: #e5c5b8;
    width:650px;
    height:400px;
    border: 10px solid #fbf3c4;
    display: inline-block;
    margin-top: 40px;
    margin-right:470px;
  


}

nav ul li { 
    list-style: none;
    display:inline-block;
    width: 120px;
    margin-right: 70px;
    margin-top: 10px;
}

nav ul li a{
    background-color: #fbe66c;
    color: #67331e;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

#selected{
    background-color:#fbf3c4;
}

nav ul li a:hover{

    background-color: #f7f6e2;
}

.content{

background-color: #fbf3c4;
width:520px;
height:320px;
margin-right: 70px;
margin-top: 10px;
}

#aboutMe {
    padding: 20px;
}

.title{
    color: #617e4e;
    font-size: 18pt;
}

#aboutMe p{
    margin-top:50px;
    font-size: 14pt;
    color: #67331e;
}

#fun{
    padding: 20px;
}

#fun p{
    margin-top:20px;
    font-size:14pt;
    color: #67331e;
    padding: 10px;
}

#kesher{
    padding: 20px;
}

section  {
    background-image: url('../images/718smiley.png');
   background-size: 220px;
   background-repeat: no-repeat;
   background-position: center;
  
}

    section:hover {
        background-image: url('../images/Happy_smiley_face.png');
        background-size: 220px;
        background-repeat: no-repeat;
        background-position: center;
    }

#facebook {
margin-top: 70px;
margin-right: 70px;
display: inline-block;
-webkit-transition: width 2s;
transition: width 2s;
}

#insta{
    margin-right: 100px;
    margin-top:5px;
}

